{% extends 'base.html' %}
{% block content %}
<div class="home">
<div class="header d-flex justify-content-center align-items-center flex-column min-vh-100 mx-auto w-75">
<h1 class="text-center">La Galerie Nationale</h1>
<p>"Welcome to La Galerie Nationale, a web application, made using django that allows user (s) to views photos of
    different categories including; Food,Drinks,Animals etc. The application has a search functionality where user (s) can search for different category of images.
    Duis
    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
    <a href="/images" class="btn">Welcome</a>
    </div>
    </div>
{% endblock %}