{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static%}
<link rel="stylesheet" href="https://fonts.google.com/">
{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">

<link rel="stylesheet" type="text/css" href="{% static  'fontawesome/css/all.min.css' %}" />
{% endblock %}
{% block content %}
<header>
    <h1 class="welcome-message">Welcome to the Image Gallery!</h1>
    <a href="/images" class="welcome-button">Explore Images</a>
</header>

<main>

    <section class="categories">
        <div class="category">
            <a href="#">
                <div class="category-card">
                    <span class="category-icon">
                        <i class="fas fa-utensils"></i>
                    </span>
                    <span class="category-name">Food</span>
                </div>
            </a>
        </div>
        <div class="category">
            <a href="#">
                <div class="category-card">
                    <span class="category-icon">
                        <i class="fas fa-glass-martini"></i>
                    </span>
                    <span class="category-name">Drinks</span>
                </div>
            </a>
        </div>
        <div class="category">
            <a href="#">
                <div class="category-card">
                    <span class="category-icon">
                        <i class="fas fa-paw"></i>
                    </span>
                    <span class="category-name">Animals</span>
                </div>
            </a>
        </div>
        <div class="category">
            <a href="#">
                <div class="category-card">
                    <span class="category-icon">
                        <i class="fas fa-tree"></i>
                    </span>
                    <span class="category-name">Nature</span>
                </div>
            </a>
        </div>
        <div class="category">
            <a href="#">
                <div class="category-card">
                    <span class="category-icon">
                        <i class="fas fa-building"></i>
                    </span>
                    <span class="category-name">Architecture</span>
                </div>
            </a>
        </div>
        <div class="category">
            <a href="#">
                <div class="category-card">
                    <span class="category-icon">
                        <i class="fas fa-users"></i>
                    </span>
                    <span class="category-name">People</span>
                </div>
            </a>
        </div>


    </section>
</main>
<script src="https://kit.fontawesome.com/your-font-awesome-kit.js" crossorigin="anonymous"></script>
{% endblock %}