{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static%}
<link rel="stylesheet" href="https://fonts.google.com/">
{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/images.css' %}">
<link rel="stylesheet" href="{% static 'css/search.css' %}">
<link rel="stylesheet" type="text/css" href="{% static  'fontawesome/css/all.min.css' %}" />

<style>
    .not-found-container {
        text-align: center;
        margin-top: 50px;
    }

    .not-found-image {
        width: 300px;
        height: 300px;
        margin-bottom: 20px;
    }

    .not-found-message {
        color: #666666;
        font-size: 24px;
        font-weight: bold;
    }
</style>

{% endblock %}

{% block content %}
<div class="row">
    {% if images %}
    <h2 class="text-light text-center">Found {{ images|length }} images for the search term "{{ message }}"</h2>
    {% else %}
    <div class="not-found-container">
        <img src="{% static 'images/oops.png' %}" alt="Person Not Found" class="not-found-image">
        <p class="not-found-message">No images found for the search term "{{ message }}".</p>
    </div>
    {% endif %}
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for image in images %}
    <div class="col">
        <div class="card">
            <img src="{{ image.image.url }}" class="card-image" alt="Image">
            <div class="card-details">
                <!-- <h5>{{ image.image_name }}</h5> -->
                <p><strong></strong> {{ image.category }}</p>
                <p><strong></strong> {{ image.image_description|safe }}</p>
                <p><strong></strong> {{ image.location }}</p>
                <p><strong></strong> {{ image.date_posted }}</p>
                <div class="input-group">
                    <input type="text" id="image_link" value="{{ image.image.url }}" class="form-control">
                    <button type="button" class="btn btn-primary" onclick="myFunction('{{ image.image.url }}')"
                        id="copy_pin_link">Copy Link</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="back-home-button">
    <a href="{% url 'home' %}" class="btn btn-primary"><i class="fas fa-home"></i> Back to Home</a>
</div>

<script type="text/javascript">
    function myFunction(data) {
        navigator.clipboard.writeText(window.location.origin + data)
        alert("You have successfully copied the link!");
    }
</script>
{% endblock %}